<h1><%= @employee.name %></h1>

<img src= <%= @employee.img_url %> >

<ul>
    <li><%= @employee.alias %></li>
    <li><%= @employee.title %></li>
    <li><%= @employee.office %></li>
    <li><%= @employee.dog %></li>
   
</ul>

